<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MapTest</display-name>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.maptest.web.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>com.maptest.web.servlet.ConfirmServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>RefreshServlet</servlet-name>
    <servlet-class>com.maptest.web.servlet.RefreshServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/servlet/regServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/servlet/ConfirmServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>RefreshServlet</servlet-name>
    <url-pattern>/servlet/RefreshServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>